

  .read label {
    display: inline-block;
    margin-top: 20px;
  }

  .read .button {
    margin-top: 20px;
  }
  .read .button i {
    color: white;
    font-size: 20px;
  }
/* ici */

  .read{
    box-shadow: 0 0 20px 0 rgba(90, 64, 155, 0.329);

    border-radius: 6px;
    border: 1px solid rgb(62 28 131 / 10%);
    padding: 2rem;

    margin-left: 65px;
    transition: 0.5s;
    margin-top: 0px;
    margin-bottom: 50px;

    width: 350px;
    height: 370px;

    background-color:#3340d418 ;
    

  }
  .read .age{
    position:relative;
    font-family: 'Pacifico', cursive;
    text-decoration:underline;
    color: #fff;
    background-color: var(--sec-color);
    border-radius: 10px;
    margin-left:5px ;
    padding-left: 8px;
    margin-right: 150px;
    margin-bottom: 9px;  
    margin-top: -9px;
  }
  .read .img {
    width: 180px;
    height: 150px;
    margin: auto;
    position:relative;
    border-radius: 20%;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 13%);
    margin-left: 20%;

  }
  
  .titre {
    margin-left: 150px;
    background: linear-gradient(to right, #3340d4, #000);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-size: 30px;

}
.read i {
  color: grey;
  margin-right: 5px;
  margin-left: 40px;
  
}
.read .text{
  color:var(--btn-color);
}

.readMore{
  overflow-x: scroll;

}

:root{
  --main-color : #1F2278 ;
  --sec-color : #cd73a7; 
  --btn-color : #4e54c7 ;
}

section,footer ,header {
  width: 100%;
  height: auto;
  overflow: hidden;
  max-width:100%;
  padding :25px 0px;
  margin-top : 50px;
}